crash.txt
# wp-content/uploads/*
wp-content/uploads/wc-logs/*

# wp-content/plugins/woocommerce
# wp-content/plugins/persian-woocommerce
# wp-content/plugins/wp-parsidate
# wp-content/plugins/duplicator
# wp-content/plugins/contact-form-7
# wp-content/plugins/flamingo
# wp-content/plugins/neshan-maps
# wp-content/plugins/adminify
# wp-content/plugins/adminify-pro
# wp-content/plugins/user-blocker
# wp-content/plugins/ajax-search-for-woocommerce

wp-content/backups-dup-lite