@media (min-width: 768px) and (max-width: 991.9px) {

}

@media (min-width: 576px) and (max-width: 767.9px) {
}

@media (min-width: 768px) and (max-width: 1199.9px) {

}

@media (max-width: 1199.9px) {

}

@media (max-width: 991.9px) {
    ul.navbar-nav:not(.submenu) li a.nav-link {
        font-size: 12px;
    }
}

@media (max-width: 767.9px) {
    .nav-logo {
        padding: 3px 10px !important;
    }

    .img-single-page {
        display: block;
        width: 100%;
        height: 400px;
        margin: auto !important;
    }

    .img-single-page-2 {
        display: block;
        width: 100%;
        height: 300px;
        margin: auto !important;
    }
}

@media (max-width: 575.9px) {
    .slide-caption {
        padding: 8px 27px;
    }

    .slide-caption {
        top: 17%;
    }

    .slide-caption h1 {
        margin-bottom: 16px;
    }

    .slide-caption-p {
        line-height: 1.5;
    }

    .single-blog-social {
        margin-right: 54px;
    }

    .slide-caption {
        width: 75%;
        right: 0;
    }
}

@media (max-width: 400px) {

}

@media (max-width: 325px) {

}

@media (min-width: 576px) {
    .slide-caption {
        width: 65%;
        right: -23px;
    }

    .slide-caption {
        padding: 15px 27px 5px;
    }

    .slide-caption {
        top: 21%;
    }

    .slide-caption h1 {
        margin-bottom: 20px;
    }

    .slide-caption-p {
        line-height: 2;
    }

    .single-blog-social {
        margin-right: 34px;
    }

    .img-about-shape-1-p::after {
        width: 170px;
        height: 170px;
    }

    .img-about-shape-2-p::after {
        width: 170px;
        height: 170px;
    }
}

@media (min-width: 768px) {
    .slide-caption {
        width: 70%;
        right: 0;
    }

    #logos .swiper-slide:not(:last-child)::after {
        content: '';
        display: block;
        width: 2px;
        height: 78px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -12%;
        background-image: linear-gradient(180deg, white 0%, #cacaca 40%, #cacaca 60%, white 100%);
        margin: auto;
    }

    .img-contact {
        right: -125px;
    }

    .img-single-page {
        float: right;
        width: 300px;
        height: 300px;
    }

    .img-single-page-2 {
        float: left;
        width: 300px;
        height: 300px;
    }

    .single-blog-social {
        margin-right: 54px;
    }
}

@media (min-width: 992px) {
    .slide-caption {
        width: 65%;
        right: -145px;
    }

    .slide-caption {
        max-width: 800px;
    }

    .nav-logo {
        width: 150px;
    }

    .img-contact {
        right: -175px;
    }

    .img-single-page {
        float: right;
        width: 400px;
        height: 400px;
    }

    .img-single-page-2 {
        float: left;
        width: 300px;
        height: 300px;
    }

    #nex_logos.swiper-button-next {
        right: -20px !important;
    }

    #prev_logos.swiper-button-prev {
        left: -20px !important;
    }

    #slide_show .swiper-container {
        overflow: visible !important;
    }

    .img-about-shape-1-p::after {
        width: 250px;
        height: 250px;
    }

    .img-about-shape-2-p::after {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 1200px) {
    .slide-caption {
        width: 55%;
        right: -315px;
    }

    .slide-caption {
        max-width: 900px;
    }
}

@media (min-width: 1600px) {

}

/*************************************************************nav*************************************amh_nj*********/
#nav_menu {
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    padding: 0;
    background-color: var(--color-1-100);
}

#nav_menu .navbar-toggler {
	position: absolute;
	right: 1rem;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 0;
	width: 2rem;
	height: 2rem;
}

#nav_menu.scrolled {
    position: fixed;
    transition: all 200ms linear;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    animation: opacity 500ms linear forwards;
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes logo {
    from {
        top: 30px;
    }
    to {
        top: 0;
    }
}

#menu_items, #menu_items1 {
    padding: 0 15px;
    height: 100%;
}

#menu_items1 {
    direction: ltr;
}

.nav-logo {
	height: 5rem;
    width: 5rem;
	object-fit: cover;
	display: block;
	margin-left: .75rem;
	padding: 0.25rem;
}

.nav-logo > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#logo_sm {
    margin-right: auto;
    margin-left: 0;
}

#logo_lg {
	position: relative;
	top: 0;
	width: 5rem;
	transition: all 500ms ease-in-out;
}

#logo_lg.scrolled-logo {
    transition: all 500ms ease-in-out;
    top: 0;
    animation: logo 500ms linear forwards;
}

ul.navbar-nav:not(.submenu) li::before {
    position: absolute;
    right: -1rem;
    font-size: 0.8rem;
    top: 50%;
    transform: translateY( -50% );
}

ul.navbar-nav.header-second-menu li::before {
    position: relative;
    right: initial;
    top: initial;
    font-size: inherit;
    transform: unset;
}

ul.navbar-nav > li > ul.sub-menu > li::before {
	position: relative;
	right: 0.4rem;
	font-size: 1.4rem;
	display: inline-block;
	top: 1.5rem;
	width: 1.5rem;
	height: 1.5rem;
	vertical-align: middle;
	transform: translateY( -100% );
	color: inherit;
	/*! font-size: inherit; */
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

ul.navbar-nav > li > ul.sub-menu > li > a.nav-link {
    display: inline-block;
    width: 100%;
}

ul.navbar-nav > li > ul.sub-menu > li[class*=fa] > a.nav-link {
    width: calc( 100% - 1.5rem );
    font-size: 1.1rem;
    padding-right: 1.5rem;
}

ul.navbar-nav:not(.submenu) li,
ul.navbar-nav:not(.submenu) li a.nav-link {
    color: var(--color-5-100);
    font-weight: 400;
    transition: all 100ms linear;
}

ul.navbar-nav:not(.submenu) li:hover,
ul.navbar-nav:not(.submenu) li:hover a.nav-link {
    color: inherit;
}

ul.navbar-nav li ul.submenu li a.nav-link {
    transition: all 300ms linear;
}

ul.navbar-nav li ul.submenu li a.nav-link:hover {
    background-color: var(--color-2-100);
    color: #ffffff !important;
}

ul.header-second-menu.navbar-nav:not(.submenu) li a.nav-link {
    font-size: 15px;
}

ul.header-second-menu.navbar-nav:not(.submenu) li {
    font-size: 1.25rem;
    border: 2px solid var(--color-3-100);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--color-3-100);
}

ul.header-second-menu.navbar-nav:not(.submenu) li:not(:last-of-type) {
    margin-left: 1.75rem;
}

ul.header-second-menu.navbar-nav:not(.submenu) li a.nav-link {
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    color: var(--color-3-100);
}

/*************************************************************nav*************************************amh_nj*********/

/*************************************************************header*************************************amh_nj*********/

/*************************************************************slide-show*********************************amh_nj*********/

.slide-caption {
    position: absolute;
    height: auto;
    /* background: var(--boot-theme-grad-1-50); */
    left: 0;
    margin: auto;
    text-align: right;
    border-radius: 5px;
    z-index: 6;
    /* background-color: #eaeaea4f; */
    background-image: linear-gradient(to left, #27688aa8 0%, #00d0d33d 70%, transparent 100%);
}

.slide-caption h1 {
    color: #ffffff;
    font-weight: 500;
}

.slide-caption-p {
    color: #ffffff;
    margin-bottom: 12px;
}

.slide-caption div {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
}

.slide-caption-a {
    background-color: var(--color-1-100);
    border-radius: 27px;
    color: #ffffff;
    padding: 7px 12px;
    display: inline-block;
    transition: all 300ms ease;
    width: 148px;
    height: 32px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}

/*************************************************************slide-show*********************************amh_nj*********/

/*************************************************************header*************************************amh_nj*********/

/*************************************************************footer*********************************amh_nj*************/
#social, #bottom_footer {
    background-color: var(--color-1-100);
}

.social-footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    justify-content: flex-end;
}

.social-footer li {
    flex: 0 0 2rem;
    height: 2rem;
    max-width: 2rem;
    position: relative;
    color: var(--color-3-100);
    transition: all 200ms linear;
    margin: 0 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-footer li::before {
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-footer li:hover {
    color: var(--color-4-100);
}

.social-footer a {
    font-size: 0;
    padding: 0;
    width: 1.75rem;
    height: 1.75rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

#footer_parent {
    position: relative;
    z-index: 0;
    background-color: #f1f1ee;
    background-image: url(../img/hexellence.png);
    background-repeat: repeat;
    background-size: contain;
    background-position: top left;
}

ul.hover-li-bef {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 15px;
}

ul.hover-li-bef li {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 3px;
    transition: all 300ms linear;
}

ul.hover-li-bef li a {
    color: #363636;
    position: relative;
    display: block;
    transition: all 300ms linear;
    padding: 0;
}

ul.hover-li-bef li a::before {
    content: '';
    background-image: url(../img/angle-left.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    display: block;
    position: absolute;
    right: -15px;
    width: 15px;
    height: 15px;
    top: 10px;
    transition: all 300ms linear;
}

ul.hover-li-bef li:hover a::before {
    right: -5px;
}

ul.hover-li-bef li:hover a {
	color: var(--color-3-100);
	padding-right: 10px;
}

/*************************************************************footer*********************************amh_nj*************/


/*************************************************************main***********************************amh_nj*************/
.img-about-shape-1 {
    -webkit-mask-image: url("../img/shape-img-v.svg");
    mask-image: url("../img/shape-img-v.svg");
    mask-size: contain;
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    display: block;
    transform: rotateY(180deg);
}

.img-about-shape-1-p::after {
    content: '';
    background-image: url(../img/shape-img-v-after.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    z-index: -1;
    transform: rotate(45deg);
}

.img-about-shape-2 {
    -webkit-mask-image: url("../img/shape-img-v.svg");
    mask-image: url("../img/shape-img-v.svg");
    mask-size: contain;
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    display: block;
    height: 18rem;
    margin: auto;
}

.img-about-shape-2-p::after {
	content: '';
	background-image: url(../img/shape-img-v-after.svg);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: contain;
	position: absolute;
	left: 15px;
	bottom: -8px;
	display: block;
	z-index: -1;
	transform: rotate(45deg) rotateY(0deg);
}

.bg-eee {
    background-color: #eeeeee;
}

#service_index {
    position: relative;
    z-index: 3;
}

.conts {
	background-image: var(--boot-theme-grad);
	border-radius: 10px;
	cursor: pointer;
	height: 100%;
	width: 100%;
}

.captionss {
    position: absolute;
}

.content-one {
    padding-top: 10px;
    border-radius: 10px;
    transform: rotate(0deg);
    border: 2px solid #fff;
    box-shadow: 0 2px 10px #9a9a9a;
    transition: all 0.2s ease-in-out;
    height: 100%;
}

.content-one:hover {
    transform: rotate(6deg);
}

.cont-icon-rotate {
	display: block;
	background: var(--color-2-100);
	padding: 8px 25px 8px 25px;
	border-radius: 50%;
	transform: rotate(-10deg);
	transition: all 0.2s ease-in-out;
	width: 8rem;
	text-align: center;
	margin: 6px auto;
	color: var(--color-3-100);
	height: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*.cont-icon-rotate:hover {*/
/*    transform: rotate(10deg);*/
/*    background: #00d0d3;*/
/*    background: -webkit-gradient(linear, left top, left bottom, from(#92b1c8), to(#00d0d3));*/
/*    background: -webkit-linear-gradient(top, #282964, #282964);*/
/*    background: -moz-linear-gradient(top, #282964, #00d0d3);*/
/*    background: -ms-linear-gradient(top, #282964, #00d0d3);*/
/*    background: -o-linear-gradient(top, #282964, #00d0d3);*/
/*    color: #fff;*/
/*    transition: all 0.2s ease-in-out;*/
/*}*/

#about_index {
    position: relative;
}

/*
#about_index::before {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    width: 100%;
    height: 88%;
    background-color: #f8f8f8;
    z-index: 0;
}
*/

.ab-i-icon {
    position: absolute;
    width: 19px;
    top: 0;
    right: 0;
}

.about-contain p.text-boot-bl {
    position: relative;
}

.about-contain p.text-boot-bl::after {
    content: '';
    background-image: linear-gradient(to left, var(--boot-theme-c-1) 0%, white 100%);
    width: 56%;
    height: 1px;
    display: block;
    position: absolute;
    bottom: -5px;
    right: 0;
}

#last_blog_index,
#last_products {
    background-image: radial-gradient(358px, var(--color-2-50) 32%, var(--color-2-100) 100%);
}

.pro-card {
    text-align: center;
    background-color: var(--color-1-100);
    position: relative;
    margin: 0 auto 1rem;
    overflow: hidden;
    width: 18rem;
    height: 18rem;
    max-width: 100%;
    border-radius: 25px;
    transition: all 300ms linear;
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.3);
}

.pro-img {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 300ms linear;
}

.pro-card:hover {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.35);
}

.pro-card .pro-img > img {
    transition: all 300ms linear;
    object-fit: contain;
}
.pro-card:hover .pro-img > img:not(.img-special-pro) {
    transform: scale(1.05);
}

.img-special-pro {
    position: absolute;
    left: 13px;
    top: 9px;
    max-width: 100%;
    height: auto !important;
    width: 100px !important;
    z-index: 1;
}

.pro-img img {
    width: 100%;
    height: 100%;
}

.pro-content {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    width: 90%;
    height: 90%;
    border: 1px solid var(--color-4-75);
    border-radius: 22px;
    margin: auto;
    overflow: hidden;
}

.pro-title {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: var(--color-4-75);
    width: 100%;
}

.pro-title .row {
    min-height: 50px;
}

p.pro-price {
    display: flex;
    flex-direction: column-reverse;
}

.pro-price span.woocommerce-Price-amount > bdi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pro-price del {
    color: #a7342a;
    font-size: 9px;
}

.pro-price ins {
    text-decoration: none;
    color: var(--color-1-100);
}

#search_index,
#advice_index {
    background-image: url(../img/bg-bottom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#advice_index h6.text-dark::before {
    content: '';
    position: relative;
    background-image: url(../img/support.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
    width: 38px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
}


#about_index_2 {
    position: relative;
}

p.border-b-grad {
    border-bottom: 1px solid;
    border-image: linear-gradient(to left, #ffdee0 0%, black 50%, transparent 100%) 10;
}

.text-39 {
    color: rgba(57, 57, 57, 0.93);
}

.checked-mark-about div.col-6 {
    margin-top: 7px;
}

.text-555 {
    color: #555555;
}

.blog-2-card {
    background-color: var(--color-1-100);
    border-radius: 2px 60px 20px 20px;
    text-align: center;
    padding: 8px !important;
    box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.3);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 29px;
    cursor: pointer;
    position: relative;
}

.blog-2-img {
    border-radius: 2px 60px 2px 20px;
    width: 100%;
    height: 290px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    right: 0;
    top: -18px;
}

.blog-2-content {
    margin: 0 auto 5px;
    text-align: center;
}

.blog-2-content h6 {
    color: var(--color-4-100);
    transition: all 300ms linear;
    font-weight: 500;
}

.blog-2-content p {
    color: var(--boot-theme-black);
    font-weight: 500;
    text-align: justify;
}

.blog-2-card:hover a.btn-boot-3 {
    background: var(--color-2-100);
    color: var(--color-3-100);
    box-shadow: 0 5px 12px 0 var(--color-1-25);
}

.blog-2-card:hover h6 {
    color: var(--color-3-100);
}

/*************************************************************main***********************************amh_nj*************/

/*************************************************************page***********************************amh_nj*************/
img.img-header {
    max-width: 100%;
    width: 100%;
    height: 15rem;
    opacity: 100%;
    object-fit: cover;
}

.header-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    text-align: center;
    z-index: 11;
}

.header-caption h1 {
    padding-top: 2.25rem;
    margin-bottom: 5px;
    color: var(--color-4-100);
}

.header-caption p {
    color: var(--color-4-75);
}

.page-content p {
    color: var(--boot-theme-black);
    font-size: 13px;
    text-align: justify;
    line-height: 2;
}

.img-contact {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.single-blog-titr h1 {
    font-size: 18px !important;
    color: #444444;
    font-weight: 500;
    background-color: #ffffff;
    box-shadow: 0 1px 21px 0 rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    padding: 11px 18px;
}

.single-blog-opt-1 {
    background-color: transparent;
    border-radius: 11px;
    color: #adadad;
    padding: 7px 15px;
}

.page-content hr {
    border-color: #adadad;
}

.img-blog-single {
    border-radius: 27px;
    width: 100%;
    max-height: 425px;
    object-fit: cover;
    object-position: center;
    margin-top: 12px;
    margin-bottom: 15px;
}

.text-44 {
    color: #444444;
}

.before-sharp {
    /* pointer-events: none; */
    cursor: default;
    display: inline-block;
}

.before-sharp a {
    color: #61636f;
    font-weight: 300;
}

.before-sharp::before {
    content: '#';
    position: relative;
    margin-right: 5px;
    margin-left: 1px;
    font-size: inherit;
    color: inherit;
    vertical-align: middle;
}

.single-blog-opt-2 {
    border-radius: 10px;
    box-shadow: 1px 0 13px 0 rgba(0, 0, 0, 0.05);
    padding: 13px 8px;
}

.single-blog-opt-3 {
    border-radius: 10px;
    box-shadow: 1px 0 21px 0 rgba(0, 0, 0, 0.05);
    padding: 13px 8px;
    margin: 12px 0 18px;
}

.single-blog-social {
    color: #61636f;
    font-size: 19px;
}

.img-single-page {
    border-radius: 31px;
    margin: 0 0 8px 12px;
    object-fit: cover;
}

.img-single-page-2 {
    border-radius: 31px;
    margin: 0 12px 8px 0;
    object-fit: cover;
}

.page-content div.lh-2.text-justify h1, .page-content div.lh-2.text-justify h2, .page-content div.lh-2.text-justify h3,
.page-content div.lh-2.text-justify h4, .page-content div.lh-2.text-justify h5, .page-content div.lh-2.text-justify h6 {
    font-weight: 500;
    color: var(--color-4-100);
    font-size: var(--boot-font-size-h);
    margin-top: 15px;
}

.page-content div.checked-mark-about h1, .page-content div.checked-mark-about h2, .page-content div.checked-mark-about h3,
.page-content div.checked-mark-about h4, .page-content div.checked-mark-about h5, .page-content div.checked-mark-about h6 {
    font-size: 12px;
}

.contact-address-shadow {
    box-shadow: 0 1px 38px 0 rgba(0, 0, 0, 0.07);
    padding: 0 8px;
}

.img-service-page {
    width: 100%;
    height: 400px;
    border-radius: 31px;
    object-fit: cover;
}

/*************************************************************page***********************************amh_nj*************/
/*************************************************************g-form***********************************amh_nj*************/


/*************************************************************g-form***********************************amh_nj*************/


/***************************************/

.rmp-rating-widget .rmp-icon--ratings {
    font-size: 21px;
}

.rmp-widgets-container.rmp-wp-plugin.rmp-main-container .rmp-heading.rmp-heading--title {
    font-size: 22px;
}

.rmp-widgets-container.rmp-wp-plugin.rmp-main-contain p {
    text-align: center;
}

.rmp-widgets-container.rmp-wp-plugin.rmp-main-container .rmp-rating-widget__submit-btn--visible {
    border-radius: 25px;
    padding: 6px 22px;
    font-size: 12px;
    background-color: var(--boot-theme-color-hover-3);
    color: #f8f8f8;
    font-weight: 400;
    transition: all 800ms ease;
}

.rmp-widgets-container.rmp-wp-plugin.rmp-main-container .rmp-rating-widget__submit-btn--visible:hover {
    background-color: #f8f8f8;
    color: var(--boot-theme-color-hover-3);
    transition-delay: 200ms;
}

#nex_logos.swiper-button-next, #prev_logos.swiper-button-prev {
    color: var(--color-2-100);
    height: 100%;
    top: 18%;
    width: 25px;
    margin: 0;
    padding: 5px;
}

#nex_logos.swiper-button-next {
    left: unset;
    right: 0;
}

#prev_logos.swiper-button-prev {
    right: unset;
    left: 0;
}

#nex_logos.swiper-button-next::after, #prev_logos.swiper-button-prev::after {
    font-size: 24px;
}

#logos img {
    user-select: none;
    pointer-events: none;
    max-width: 142px;
    max-height: 48px;
    object-fit: contain;
}

.woocommerce ul li.product {
    background-color: var(--color-1-100);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    text-align: center;
    padding: 4px 8px;
    height: 100%;
    overflow: hidden;
}

.woocommerce ul.products li.product a img.attachment-woocommerce_thumbnail {
    border-radius: 0;
    padding: 0;
    height: 12rem;
    object-fit: contain;
    margin: 0;
}

.woocommerce ul li a.add_to_cart_button {
	color: var(--color-1-100);
	font-size: 14px;
	font-weight: 400;
	transition: all 300ms linear;
	border-radius: 12px;
	overflow: hidden;
	margin-top: 0 !important;
	background-color: var(--color-3-100);
	background-position: right center;
    display: block;
    width: 11rem;
}

.woocommerce ul li a.add_to_cart_button:hover,
.woocommerce ul li:hover a.add_to_cart_button {
    background-color: var(--color-4-100);
    color: var(--color-1-100);
}

.woocommerce ul.products li.product span.price, .woocommerce p.price {
    display: flex;
    flex-direction: column;
    /* height: 45px; */
    justify-content: center;
}

.woocommerce .product .summary p.price {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.woocommerce ul.products li.product span.price, .woocommerce p.price {
    display: flex;
    flex-direction: column;
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin: auto;*/
    /*bottom: 31px;*/
    /*background-color: #f8f8f8e3;*/
    /*height: 45px;*/
    /*align-items: center;*/
    justify-content: center;
}

.woocommerce p.price .amount {
	font-size: 1.15rem;
}

.woocommerce ul.products li.product span.price span.woocommerce-Price-amount,
.woocommerce p.price span.woocommerce-Price-amount {
    color: var(--color-4-100);
    font-size: 0.95rem;
    margin-bottom: 0.5rem;
}

.woocommerce-Price-currencySymbol,
.woocommerce ul.products li.product span.price span.woocommerce-Price-amount abbr,
.woocommerce p.price span.woocommerce-Price-amount abbr {
    margin-right: 0.75rem;
    color: var(--color-3-100);
}

.woocommerce-Price-currencySymbol {
	color: var(--color-5-100);
	margin-right: 0;
}

.woocommerce ul.products li.product span.price ins,
.woocommerce p.price ins {
    text-decoration: none;
}

.woocommerce ul.products li.product span.price del span, .woocommerce ul.products li.product span.price del,
.woocommerce p.price del span, .woocommerce p.price del {
    color: red !important;
}

.woocommerce span.onsale {
    font-size: 0;
    background-image: url(../img/special.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    width: 115px;
    height: 45px;
    background-color: transparent;
}

/* .woocommerce input[type=text], .woocommerce textarea, .woocommerce input[type=tel], .woocommerce input[type=email],
.woocommerce input[type=password] {
    display: inline-block;
    width: 100%;
    height: 35px;
    padding: 6px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: 0;
    font-family: inherit;
}
.woocommerce textarea{
    height: auto;
} */

.woocommerce .woocommerce-ordering select.orderby {
    display: inline-block !important;
    width: 100% !important;
    height: 35px !important;
    padding: 6px 10px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    vertical-align: middle !important;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath 			fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat left .75rem center/8px 10px !important;
    background-color: rgba(0, 0, 0, 0) !important;
    background-color: #fff !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}

.woocommerce input[type=text]::placeholder, .woocommerce textarea::placeholder, .woocommerce select::placeholder,
.woocommerce input[type=tel]::placeholder, .woocommerce input[type=email]::placeholder, .woocommerce input[type=password]::placeholder {
    color: #6c757d;
    opacity: 1;
}

ul.page-numbers {
    padding: 0 !important;
    border: 0 !important;
}

ul.page-numbers li {
    position: relative;
    line-height: 8px;
    color: var(--boot-theme-black);
    background-color: #ebebeb;
    border: 1px solid #ebebeb50 !important;
    border-radius: 50%;
    font-weight: 400 !important;
    transition: all 500ms ease !important;
    width: 36px !important;
    height: 36px !important;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding-top: 4px;
    margin: auto 5px !important;
    font-size: 15px !important;
}

ul.page-numbers li a.page-numbers {
    font-weight: 400 !important;
    transition: all 500ms ease !important;
    width: 100%;
    height: 100%;
    padding-top: 10px !important;
}

ul.page-numbers span.current {
    z-index: 1;
    color: #fff !important;
    background: var(--boot-theme-grad) !important;
    border-color: var(--color-1-25) !important;
    width: 100%;
    height: 100%;
    padding-top: 10px !important;
}

ul.page-numbers span.current::before {
    content: none !important;
}

ul.page-numbers a:hover {
    background-color: var(--color-1-100) !important;
    color: #ffffff !important;
    opacity: 1 !important;
}

ul.page-numbers a.next, ul.page-numbers a.prev {
    font-size: 0 !important;
    position: relative;
}

ul.page-numbers a.next::after, ul.page-numbers a.prev::after {
    content: '';
    position: absolute;
    z-index: 2;
    width: 35px;
    height: 22px;
    display: block;
    margin: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 6px;
    right: 0;
    left: 0;
    opacity: 0.75;
}

ul.page-numbers a.next::after {
    background-image: url(../img/rangle-left.svg);
}

ul.page-numbers a.prev::after {
    background-image: url(../img/rangle-right.svg);
}

.woocommerce .products ul, .woocommerce ul.products {
    margin: 15px auto;
    display: flex !important;
    flex-wrap: wrap;
}

.woocommerce .products ul li.product, .woocommerce ul.products[class*="columns-"] > li.product {
    margin: 15px auto 0;
    border: 1px solid var(--color-4-75);
}

.woocommerce .products ul li.product, .woocommerce ul.products li.product > a {
    margin: 0 auto 1rem;
}

.woocommerce .woocommerce-product-gallery__image a {
    border-radius: 12px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: block;
    height: 100%;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    margin: 0;
}

.woocommerce div.product .woocommerce-tabs .panel {
    border: 1px solid #d3ced2;
    /* border-top: 0 !important; */
    padding: 15px !important;
    border-radius: 10px;
    position: relative;
    top: -1px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border-bottom: 0 !important;
}

.woocommerce div.product form.cart {
	margin-top: 2em;
	justify-content: flex-end;
	display: flex;
}

form.cart button.single_add_to_cart_button {
    background-color: var(--color-4-50);
    border-radius: 25px;
    color: var(--color-1-100);
    padding: 12px 18px;
    border: none !important;
    transition: all 300ms ease-in;
    font-size: 13px;
    font-weight: 400;
    float: left !important;
}

form.cart button.single_add_to_cart_button:hover {
    background-color: var(--color-4-100);
}

.woocommerce div.product div.images img {
    height: 380px !important;
    object-fit: cover;
    object-position: 0 0;
    transition: all 300ms linear;
}

.woocommerce div.product form.cart div.quantity {
	max-width: 4rem;
}

.woocommerce input[type="number"].qty {
	margin: 0;
	border: 1px solid var(--color-2-100);
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt, .woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce a.button, .woocommerce .form-row button.button {
    font-size: 14px !important;
    font-weight: 400 !important;
    border-radius: 25px !important;
    background-color: var(--color-3-100);
    color: var(--color-1-100);
    transition: all 200ms linear;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
	background-color: var(--color-4-100);
	color: var(--color-1-100);
}

.woocommerce .form-row button.button {
    padding: 12px 18px;
    display: block;
    width: auto;
    color: #ffffff;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce input.button.alt,
.woocommerce a.checkout-button,
.woocommerce .form-row button.button  {
    background-color: var(--color-3-100);
    min-width: 40%;
    margin: 0 15px;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce a.checkout-button:hover,
.woocommerce .form-row button.button:hover  {
    background-color: var(--color-4-100);
}

#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
    width: 90px !important;
    box-shadow: none;
    height: auto !important;
}

.woocommerce .woocommerce-input-wrapper {
    width: 100%;
}

.woocommerce p.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
    font-size: 25px;
    color: var(--color-1-100);
}

.woocommerce ul.order_details {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

@media (min-width: 992px) {
    .woocommerce ul.order_details li {
        flex: 0 0 20%;
    }
}

@media (max-width: 991.9px) {
    .woocommerce ul.order_details li {
        flex: 0 0 50%;
    }
}

.woocommerce ul.order_details li {
    margin: 0;
    text-align: center;
}

.woocommerce ul.order_details li {
    font-size: 16px;
    margin-top: 15px;
    padding: 8px 5px;
}

.woocommerce ul.order_details li:nth-child(even) {
    background-color: var(--secondary);
}

.woocommerce ul.order_details li:nth-child(odd) {
    background-color: var(--color-2-100);
}

.woocommerce ul.order_details li strong {
    font-size: 14px;
    margin-top: 15px;
    color: var(--color-3-75);
}

.woocommerce table.woocommerce-table {
    border-collapse: collapse;
}

.woocommerce table.woocommerce-table tr:nth-child(even) {
    background-color: var(--secondary);
}

.woocommerce table.woocommerce-table tr:nth-child(odd) {
    background-color: var(--color-2-100);
}

.woocommerce table.woocommerce-table tr.woocommerce-table__line-item.order_item:nth-child(odd) {
    background-color: var(--secondary);
}

.woocommerce table.woocommerce-table tr.woocommerce-table__line-item.order_item:nth-child(even) {
    background-color: var(--color-2-100);
}

.woocommerce-account .page-content .woocommerce {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.woocommerce-account .page-content .woocommerce > .woocommerce-MyAccount-navigation {
    flex: 0 0 30%;
    max-width: 30%;
}

.woocommerce-account .page-content .woocommerce > .woocommerce-MyAccount-content {
    margin-right: 0.75rem;
    flex: 1;
    max-width: 100%;
    background-color: var(--color-1-100);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 0 0.5rem;
}

.woocommerce-account a {
    color: var(--color-3-100);
}

.custom-label-box-shadow,
.woocommerce-EditAccountForm.edit-account .woocommerce-form-row label {
    font-weight: 600;
    font-size: 0.85rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-width: 8px 5px 0 4px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 0.35rem;
	right: 0.75rem;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
	left: 0.75rem;
}

.select2-dropdown.select2-dropdown--below {
    margin-top: -8px;
}

.select2-dropdown.select2-dropdown--above,
.select2-dropdown.select2-dropdown--below {
    box-shadow: 4px 8px 12px -4px #00000055;
    padding: 0.5rem 0.75rem;
    font-size: 0.95rem;
    border: 1px solid var(--color-2-100);
    border-radius: 0 0 25px 25px;
    overflow: auto;
}

.select2-dropdown.select2-dropdown--above {
    border-radius: 25px 25px 0 0;
    box-shadow: 4px -8px 12px -4px #00000055;
}

.woocommerce-page.woocommerce-checkout .input-text,
.custom-input-box-shadow,
.select2-container .select2-selection--single,
.woocommerce-address-fields .form-row input,
.woocommerce-EditAccountForm.edit-account .woocommerce-form-row input {
	height: auto;
	padding: 0.25rem 0.75rem;
	font-size: 0.75rem;
	border: 1px solid var(--color-2-100);
	border-radius: 25px;
	overflow: hidden;
	box-shadow: 4px 8px 5px -8px #00000025;
	margin-bottom: 0.5rem !important;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

/* .custom-input-box-shadow,
.select2-container .select2-selection--single,
.woocommerce-address-fields .form-row input,
.woocommerce-EditAccountForm.edit-account .woocommerce-form-row input {
    height: 3rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.95rem;
    border: 1px solid var(--color-2-100);
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 4px 8px 12px -4px #00000055;
    margin-bottom: 0.5rem !important;
} */

.select2-container .select2-selection--single,
.woocommerce-address-fields .form-row input {
    margin-bottom: 0;
}

.custom-input-box-shadow:focus,
.select2-selection:focus,
.woocommerce-address-fields .form-row input:focus,
.woocommerce-EditAccountForm.edit-account .woocommerce-form-row input:focus {
    box-shadow: inset 0 0 8px 0 #00000044;
}

.woocommerce form .show-password-input, .woocommerce-page form .show-password-input {
	top: 0.25rem;
}

.woocommerce .woocommerce-MyAccount-content table {
    border-collapse: collapse;
    text-align: center;
    margin: 0;
}

.woocommerce .woocommerce-MyAccount-content table tr:nth-child(even) {
    background-color: var(--secondary);
}

.woocommerce .woocommerce-MyAccount-content table tr:nth-child(odd) {
    background-color: var(--color-2-100);
}

.woocommerce .woocommerce-MyAccount-content table td, .woocommerce .woocommerce-MyAccount-content table th {
    border: 1px solid #eeeeee;
}

/* .woocommerce .woocommerce-MyAccount-navigation {
    background-color: var(--color-2-100);
    border-radius: 15px;
    overflow: hidden;
} */

.woocommerce .woocommerce-MyAccount-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.woocommerce .woocommerce-MyAccount-navigation ul li {
    position: relative;
    padding: 12px 28px;
    transition: all 200ms linear;
    background-color: var(--color-4-100);
    margin: 0 auto 2rem;
    border-radius: 8px;
    overflow: hidden;
}

.woocommerce .woocommerce-MyAccount-navigation ul li:last-child {
    margin-bottom: 0;
}

.woocommerce .woocommerce-MyAccount-navigation ul li.is-active,
.woocommerce .woocommerce-MyAccount-navigation ul li:hover {
    background-color: var(--color-3-100);
}

.woocommerce .woocommerce-MyAccount-navigation ul li::before {
    content: '';
    top: 0;
    bottom: 0;
    margin: auto;
    right: 12px;
    background-image: url(../img/angle-left.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
}

.woocommerce .woocommerce-MyAccount-navigation ul li a {
    color: var(--color-1-100);
    display: block;
    font-size: 1rem;
}

#tab-description.woocommerce-Tabs-panel.woocommerce-Tabs-panel--description h2 {
    display: none;
}

.woocommerce .product span.price {
    display: none;
}

.woocommerce .product .woocommerce-loop-product__title {
    margin: auto !important;
    min-height: 50px;
    border-radius: 0 0 22px 22px;
    line-height: 2.5;
    color: rgba(57, 57, 57, 0.93);
    font-size: 14px !important;
    font-weight: 500;
}

.woocommerce .product a.woocommerce-LoopProduct-link.woocommerce-loop-product__link::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    width: calc(100% - 20px);
    height: calc( 13rem - 20px );
    border: 1px solid var(--color-3-75);
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
}

.wpcf7 input[type="url"], .wpcf7 input[type="email"], .wpcf7 input[type="tel"] {
    direction: rtl;
}

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
    width: 24%;
    margin: 0.5%;
    height: 115px;
    overflow: hidden;
}

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) img {
    height: 100% !important;
    object-fit: cover;
    object-position: center;
}

.woocommerce .col2-set, .woocommerce-page .col2-set{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*404*/
.error404 .content-area {
    z-index: 1;
}

.background-404 {
    background-image: url(../img/404.gif);
    background-size: cover;
    height: 1000px;
    padding-top: 250px;
    /* margin-top: -300px; */
    /* margin-bottom: -245px; */
    background-position: center top;
    position: relative;
}

@media (min-width: 1600px) {
    .background-404 {
        height: 1100px;
        padding-top: 550px;
        margin-top: -380px;
        margin-bottom: -245px;
    }
}

@media (max-width: 1199.9px) {
    .background-404 {
        height: 1120px;
        padding-top: 745px;
        margin-top: -440px;
        margin-bottom: -245px;
    }
}

@media (max-width: 768.9px) {
    .background-404 {
        height: 625px;
        padding-top: 363px;
        margin-top: -310px;
        margin-bottom: -150px;
    }
}

@media (max-width: 575.9px) {
    .background-404 {
        height: 480px;
        padding-top: 300px;
        margin-top: -190px;
        margin-bottom: -150px;
    }
}

.woocommerce table.shop_attributes tr td a {
	color: var(--color-3-100);
	font-weight: 400;
	font-style: normal;
}

.woocommerce table.shop_attributes tr:nth-child(2n+1) td, .woocommerce table.shop_attributes tr:nth-child(2n+1) th {
	background: var(--light);
    color: var(--secondary);
}

.woocommerce table.shop_attributes tr:nth-child(2n) td, .woocommerce table.shop_attributes tr:nth-child(2n) th {
	background: var(--color-2-100);
    color: var(--color-5-100);
}

.woocommerce div.product .stock {
	color: var(--color-4-100);
}