@supports (scrollbar-width: thin) {
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--color-3-100) var(--color-2-100);
    }
}

::-webkit-scrollbar {
    width: 8px;
    padding: 15px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: var(--color-2-100);
    border-width: 4px;
    border-color: var(--color-3-100);
    padding: 15px;
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-3-100);
    border-radius: 0;
}

/* ul.navbar-nav > li ul.sub-menu {
    border-radius: 0;
} */

ul.navbar-nav > li > ul.sub-menu > li > ul.sub-menu,
ul.navbar-nav > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu {
    opacity: 0;
	right: 15rem;
	top: 0;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	height: 0;
	flex-wrap: wrap;
	flex-direction: row;
	width: calc(100% - 15rem);
	align-content: flex-start;
	margin: 0;
	background-color: var(--color-2-100);
	border-radius: 0;
	border-radius: 0 0 0 8px;
	transition-delay: 0ms;
	position: absolute;
}

ul.navbar-nav > li:hover > ul.sub-menu > li > ul.sub-menu,
ul.navbar-nav > li:hover > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu {
	opacity: 0;
	/* transform: scaleY(0); */
	right: 15rem;
	top: 0;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	height: 0;
	flex-wrap: wrap;
	flex-direction: row;
	/* width: calc( 100% - 18rem - ( 12rem * 2 ) ); */
	width: calc(100% - 15rem);
	align-content: flex-start;
	margin: 0;
	background-color: var(--color-2-100);
	border-radius: 0;
	border-radius: 0 0 0 8px;
	transition-delay: 0ms;
	position: absolute;
}

ul.navbar-nav > li:hover > ul.sub-menu > li:hover > ul.sub-menu {
    /* transform: scaleY(1); */
    opacity: 1;
    height: 20rem;
}

ul.navbar-nav > li:hover > ul.sub-menu > li:hover > ul.sub-menu > li > a:hover {
    background-color: var(--color-1-100);
}

ul.navbar-nav > li:hover > ul.sub-menu > li:hover > ul.sub-menu > li > ul.sub-menu {
	right: 0;
	top: 0;
	position: relative;
	opacity: 1;
	height: calc(100% - 2.3rem);
	width: 100%;
}

ul.navbar-nav > li:hover > ul.sub-menu > li:hover > ul.sub-menu > li > ul.sub-menu > li > a {
    color: #666666;
}

ul.navbar-nav > li:hover > ul.sub-menu > li:hover > ul.sub-menu > li > ul.sub-menu > li:hover > a {
    color: var(--color-3-100);
}

/* ul.navbar-nav > li:hover > ul.sub-menu > li:hover > ul.sub-menu > li:hover > ul.sub-menu {
    opacity: 1;
} */

ul.navbar-nav > li:not(:last-of-type) {
    margin-left: 1rem;
}

ul.navbar-nav > li.menu-item-has-children {
    padding-left: 0.75rem;
    margin-left: 0.75rem;
}

#menu_items > ul.navbar-nav > li {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

ul.navbar-nav > li.menu-item-has-children::after {
    content: "\f107";
    font-size: 1rem;
    font-family: "Font Awesome 6 Pro";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 700;
}

ul.navbar-nav > li > ul.sub-menu li.menu-item-has-children::after {
	/* content: "\f104"; */
	font-size: 1rem;
	font-family: "Font Awesome 6 Pro";
	position: absolute;
	right: 16rem;
	top: 0.4rem;
	transform: none;
	font-weight: 700;
	color: #333333;
}

ul.navbar-nav > li > ul.sub-menu li.menu-item-has-children:hover::after {
    color: #000000;
}

#search_icon {
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-1-100);
}

.custom-select {
	padding-right: .75rem;
	padding-left: 1.75rem;
	background-position: 0.75rem center;
}

ul.navbar-nav > li > ul.sub-menu > li > ul.sub-menu > li {
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
	border: 1px solid var(--color-1-25);
}

ul.navbar-nav > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li {
    flex: 0 0 50%;
	max-width: 12rem;
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
    flex: 0 0 40%;
    max-width: 40%;
}

.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
    flex: 0 0 60%;
    max-width: 60%;
}

.btn-search {
	position: absolute;
	left: 0.25rem;
	top: 0;
	width: 10rem;
	height: calc(100% - 0.5rem);
	max-width: 20%;
	bottom: 0;
	margin: auto;
}

.dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input {
	padding-right: 2rem;
	padding-left: 11rem;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: var(--boot-theme-black);
}

.dgwt-wcas-suggestion {
	text-align: right;
}

.dgwt-wcas-full-width .dgwt-wcas-details-wrapp,
.dgwt-wcas-is-details .dgwt-wcas-suggestions-wrapp {
	border-radius: 0 25px 25px 0;
	overflow: hidden;
	border: 1px solid var(--color-2-100);
}

.dgwt-wcas-full-width .dgwt-wcas-details-wrapp {
    border-radius: 25px 0 0 25px;
}

.rtl.dgwt-wcas-full-width .dgwt-wcas-details-wrapp,
.rtl.dgwt-wcas-is-details .dgwt-wcas-suggestions-wrapp {
	border-radius: 0 25px 25px 0;
}

.rtl.dgwt-wcas-full-width .dgwt-wcas-details-wrapp {
    border-radius: 25px 0 0 25px;
}

.woocommerce a.added_to_cart {
	background-color: var(--color-3-75);
	padding: 0.5rem;
	margin-right: 0.5rem;
	border-radius: 50px;
	font-size: 0.8rem;
	color: var(--color-4-100);
}

.chosen-container-multi .chosen-choices li {
	float: right;
}

.irs-from, .irs-to, .irs-single {
	direction: ltr;
}

.irs-grid-text {
    direction: ltr;
}

.woof label {
	margin-bottom: 0;
    margin-left: 0;
    margin-right: 8px;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	font-size: 0.75rem;
	font-weight: 500;
	border-radius: 5px;
	color: var(--color-1-100);
	background-color: var(--color-3-100);
    transition: all 200ms linear;
}

.img-cat-icon-page-title {
	position: absolute;
	width: 35px;
	height: 35px;
	right: -25px;
	top: 0;
}

.page-content section.col-12 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.page-content section.col-12 > .content-area {
	flex: 1;
	max-width: 100%;
}

.page-content .woof_results_by_ajax_shortcode,
.page-content .woocommerce-page.woof_shortcode_output {
	-ms-flex: 0 0 1;
	flex: 1;
	max-width: 100%;
	padding: 0.5rem 0.25rem;
}

.page-content .woof_results_by_ajax_shortcode .woocommerce-page.woof_shortcode_output {
	padding: 0;
}

.page-content header.woocommerce-products-header {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 2rem;
}

.page-content .woof.woof_sid.woof_sid_auto_shortcode {
	-ms-flex: 0 0 30%;
	flex: 0 0 30%;
	max-width: 30%;
	padding: 0.75rem 1rem;
}

.woof_redraw_zone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.woof_sid_auto_shortcode .woof_container {
	float: unset;
	flex: 0 0 100%;
	width: auto;
	margin: 0 auto;
}

.woof_sid_auto_shortcode .woof_container_inner > h4 {
	font-size: 0.9rem;
	font-weight: 500;
	background-color: transparent;
	border-radius: 8px;
	padding: 0;
	margin-top: 1.5rem;
}

ul.woof_list {
    padding-right: 0.5rem;
}

.woof_submit_search_form_container {
	margin: 0;
}

.woof_sid_auto_shortcode.woof {
	padding: 1rem 2rem;
	font-size: 0.7rem;
	border: 0;
	position: relative;
}

.woof_sid_auto_shortcode.woof::before {
	content: "فیلتر محصولات";
	position: absolute;
	top: -15px;
	right: 10px;
	font-size: 1rem;
	font-weight: 600;
	background-color: var(--color-4-100);
	color: var(--color-1-100);
	border-radius: 8px;
	padding: 0.25rem 0.75rem;
	z-index: 5;
}

.woof_products_top_panel ul {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
    align-items: center;
}

.woof_products_top_panel li span {
	padding-right: 16px;
	position: relative;
    background: none;
}

.woof_products_top_panel li span::after {
	content: "\f057";
	font-family: "Font Awesome 6 Duotone";
	color: var(--color-3-100);
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	font-size: 1.5rem;
	width: 1rem;
	height: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.woof_reset_button_2 {
	background-color: var(--color-4-100);
    font-size: 0.7rem;
    color: var(--color-1-100);
    border-radius: 25px;
    border: 0;
    padding: 0.25rem 1.25rem;
    transition: all 200ms linear;
}

.woof_reset_button_2:hover {
    background-color: var(--color-3-75);
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	display: flex;
	flex-direction: row;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	margin: 0 0.25rem;
	border: 1px solid var(--color-4-100);
	background-color: var(--color-4-75);
	border-radius: 8px;
	overflow: hidden;
	border: 0;
	margin-bottom: -3px;
	position: relative;
	z-index: 5;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	color: var(--color-1-100);
	font-size: 0.9rem;
	font-weight: 500;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
	color: var(--color-3-100);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	background: var(--color-2-50);
	color: var(--color-3-100);
}

.woocommerce div.product .woocommerce-tabs .panel {
	z-index: 6;
	background-color: var(--color-1-100);
}

.dgwt-wcas-st > span.dgwt-wcas-st-breadcrumbs {
	display: none;
}

.dgwt-wcas-tpd-image {
	margin-right: 0;
	margin-left: 15px;
}

.woocommerce form .form-row label, .woocommerce-page form .form-row label {
	display: block;
	width: 100%;
}

.woocommerce form .password-input, .woocommerce-page form .password-input {
	width: 100%;
}

.page-content .woocommerce-page.woof_shortcode_output ul.products > li {
	width: 32.05%;
}

/* responsive */

.navbar .navbar-toggler .navbar-toggler-icon {
	background: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(252, 163, 17, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.logo-sidenav {
	width: 3rem;
	height: 3rem;
	display: block;
	margin: 0 1rem 2rem;
}

.logo-sidenav > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.sidenav .close-btn {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 40px;
	z-index: 99999999999;
	color: var(--color-3-100);
	width: 3rem;
	transition: all 500ms linear;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 991.9px) {
	ul.navbar-nav li ul.sub-menu {
		position: relative;
		top: 0;
		right: 0;
		overflow: initial;
		width: 100%;
	}

	ul.navbar-nav li:hover ul.sub-menu {
		height: 9rem;
		background-color: var(--color-2-75);
	}

	ul.navbar-nav > li.menu-item-has-children {
		padding-left: 0;
		margin-left: 0;
	}

	ul.navbar-nav > li:not(:last-of-type) {
		margin-left: 0;
	}

	ul.navbar-nav > li.menu-item-has-children::after {
		top: 0;
		transform: initial;
	}

	ul.navbar-nav > li > ul.sub-menu > li {
		width: 100%;
	}

	ul.navbar-nav > li:hover > ul.sub-menu > li:hover > ul.sub-menu {
		height: 20rem;
		width: calc(100vw - 15rem);
		right: 13rem;
	}
}